@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Martel&family=Roboto&display=swap');

/*
** Reset defaul CSS value
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

a{
    color: black;
    text-decoration: none;
}

/*
** Define variables
*/

:root{
    --color-dark: #26547C;
    --color-light: #FCDE9C;
    --color-middle: #FFA552;
    --color-ligthestDark: #BA5624;
    --color-ligthest: #C4D6B0;

    --font-h1: 'Roboto', sans-serif;
    --font-h2: 'Fira Sans Extra Condensed', sans-serif;
    --font-p: 'Martel', serif;
}

/*
** Reset H1, H2 and p
*/

h1{
    font-size: 2rem;
    margin-top: 0.67em 0;
    font-weight: bold;

    font-family: var(--font-h1);
}

h2{
    font-size: 1.5rem;
    margin: 0.83rem 0;

    font-family: var(--font-h2)
}


p{
    font-family: var(--font-p)
}

/*
** Mise en page global
*/


.container{
    text-align: center;

    width: 80%;
    max-width: 1200px;

    margin: 0 auto;

}

.wrapper{
    min-height: 100vh;

    margin-bottom: -50px; /* the bottom margin is the negative value of the footer's height */
}

.wrapper:after {
    content: "";
    display: block;
    height: 50px; 

    text-align: center;
  }
  


  .main{
    width: 100%;
    padding: 1em 0 5em 0;
}


/*
** Navbar
*/

.nav-btn {
    cursor: pointer;
    border: 0;
    width: 3rem;
    height: 3rem;
    padding: 0rem;
    border-radius: 50%;
    background: var(--color_backgrounddark);
    color: white;
    transition: opacity 250ms ease;
    
    position: absolute;
    left: 0.8rem;
}

.hamburger {
    width: 50%;
    position: absolute;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: var(--color-light);
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.nav-menu{
    text-align: center;
    padding: 0 2rem;

    background-color: var(--color-dark);

    font-family: 'Roboto', sans-serif;
}

.nav-menu .nav-logo{
    width: 80px;
    height: 80px;
}

.nav-menu ul{
    list-style: none;

}
.nav-menu li{
    padding: 0.5rem 0;

}

.nav-menu a{
    color: var(--color-light);
}

.nav-menu a:hover{
    font-weight: bold;
    color: white;
}

.nav__list{
    visibility: hidden;
    height: 0;
    position: absolute;

}
    .nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
} 


@media (min-width: 600px) {

    .nav__list {
        visibility: visible;
        height: auto;
        position: relative;
    }

    .nav-menu ul{
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    
    .nav-menu{
        display: flex;
        justify-content: space-between;
    }

    .nav-btn {
        display: none;
    }
}

/*
** Footer
*/

footer{
    height: 50px;

    text-align: center;

    background-color: var(--color-dark);

    display: flex;
    align-items: center;
}
    
footer .credit{
    margin: 0 auto;
}

footer, footer a{
    font-family: 'Roboto', sans-serif;
    color: var(--color-light);
}

/*
** Accueil - Stéphane
*/


/*
** Profil - Ali
*/

/*
** Qui sommes nous - Sébastien
*/

:root{
    --height-section: calc((100vh - 50px - 84px) / 4);
}

main.equipe{
    padding: 0;
}

.equipe h1{
    font-size: 1.1rem;
    margin-top: 0.325em 0;
    font-weight: bold;

    font-family: var(--font-h1);
    text-align: start;
}

.equipe h1>span{
    font-size: 0.9rem;
}

.equipe h2{
    font-size: 0.8rem;
    margin: 0.415rem 0;

    font-family: var(--font-h2)
}


.equipe p{
    font-size: 0.8rem;
    font-family: var(--font-p)
}

.equipe-container{
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    min-height: 170px;
    height: var(--height-section);
}
/*
.membre-staff:nth-child(odd){
    background-color: var(--color-light);
}*/
.membre-staff:nth-child(odd) > .equipe-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
/*
.membre-staff:nth-child(even){
    background-color: var(--color-middle);
}*/
.membre-staff:nth-child(even) > .equipe-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    gap: 2rem;
}

.portrait-membre{
    height: calc(var(--height-section) - 60px);
    min-height: 170px;
    width:  clamp(160px, 45vw, var(--height-section));
    margin: auto 0;
}

.description{
    min-height: 120px;
    height: calc(var(--height-section) - 60px);
    width: 45ch;
}


/*
** A propos - Basile
*/
/*

header {
    background-image: url("./img/mountain-landscape-gcbb2346f5_1920.jpg");
    background-size: cover;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.header>h1 {
    color: rgba(255, 255, 255, 0.884);
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.623));
}

main {
    margin: 0 0.5rem;
    max-width: 500px;
    margin:auto
}

section > div {
    padding: 1rem 0;
}

.sub-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    padding: 1rem;
}

section :first-child {
  grid-column: 3/4;
  text-align: right;
}

section :nth-child(2) {
    grid-column: 1/2;
}

section :nth-child(3) {
    grid-column: 2/4;
    text-align: left;
}

#specific {
    grid-column: 1/4;
}

#specific h2 {
    text-align: left;
}

#specific-paragraph {
    grid-column: 1/3;
    text-align: left;
}

#specific-image {
    grid-column: 3/4;
    text-align: right;
}

.sub-content :nth-child(2) {
    padding: 0 0.8rem 0 0 ;
    max-width: 65ch;
    text-align: left;
}

div > img {
    height: 100px;
    margin: 0.5rem 0;
}

img#tools {
    max-width: 96px;
}*/

/*
** 404 - ???
*/
